.mainContainer {
    display: flex;
    flex: 1;
    padding: 50px 200px;
    flex-direction: column;
}
.headerContainer {
display: flex;
flex-direction: row;
flex: 1;
margin-bottom: 50px;
}
.titleContainer {
    display: flex;
    flex-direction: row;
    flex: 1;
    justify-content: flex-end;
}
.buttonStyle {
    width: fit-content;
}